@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: var(--font-poppins);
  --font-serif: var(--font-lora);
}

@font-face {
  font-family: "MyFont";
  src: url("/fonts/akkura-regular.otf") format("truetype");
  /* Add other font properties like font-weight or font-style if needed */
}

body {
  font-family: "akkura", sans-serif;
}

html {
  scroll-behavior: smooth;
}
